In [3]:
#Ejercicio 1.1
def reporte(tanq1, tanq2, tanq3):

	prom = round( (tanq1 + tanq2 + tanq3) / 3)

	return f"""El reporte es el siguiente:

	Combustible promedio: {prom}%
	Primer tanque: {tanq1}%
	Segundo tanque: {tanq2}%
	Tercer tanque: {tanq3}%"""

print (reporte(25, 63, 81))

El reporte es el siguiente:

	Combustible promedio: 56%
	Primer tanque: 25%
	Segundo tanque: 63%
	Tercer tanque: 81%

In [10]:
#Ejercicio 1.2
def avr(values):
	total = sum(values)
	number_items=len(values)
	return round (total / number_items)

#print (avr ([16, 58, 73]))

def reporte(tanq1, tanq2, tanq3):
    
	return f"""El reporte es el siguiente:

	Combustible promedio: {avr([tanq1, tanq2, tanq3])}%
	Primer tanque: {tanq1}%
	Segundo tanque: {tanq2}%
	Tercer tanque: {tanq3}%"""

print (reporte(64, 81, 16))

El reporte es el siguiente:

	Combustible promedio: 54%
	Primer tanque: 64%
	Segundo tanque: 81%
	Tercer tanque: 16%

In [11]:

#Ejercicio 2.1

def reporte_mision(pre_lnz, tim_vuel, destino, tanq1, tanq2):
	return f"""
	Mision a: {destino}
	Tiempo total de viaje: {pre_lnz + tim_vuel} minutos
	Combustibles restante: {tanq1 + tanq2} galones"""

print( reporte_mision (64, 81, "Marte", 216522, 51321))

	Mision a: Marte
	Tiempo total de viaje: 145 minutos
	Combustibles restante: 267843 galones

In [12]:

#Ejercicio 2.2

def reporte_mision(destino, *minutos, ** reserv_comb):
	return f"""
	Mision a: {destino}
	Tiempo total de viaje: {sum(minutos)} minutos
	Combustibles restante: {sum(reserv_comb.values())}"""

print( reporte_mision ("Marte", 16, 46, 13, main=300000, external=20000))

	Mision a: Marte
	Tiempo total de viaje: 75 minutos
	Combustibles restante: 320000

In [20]:

#Ejercicio 2.3

def reporte_mision(destino, *minutos, ** reserv_comb):
	prin_rep = f"""
	Mision a: {destino}
	Tiempo total de viaje: {sum(minutos)} minutos
	Combustibles restante: {sum(reserv_comb.values())}
	"""
	for tanq, galones in reserv_comb.items():
		prin_rep += f"{tanq} {galones} galones restantes \n"""
	
	return prin_rep

print( reporte_mision ("Marte", 16, 46, 13, tanque1=300000, tanque2=20000))

	Mision a: Marte
	Tiempo total de viaje: 75 minutos
	Combustibles restante: 320000
	tanque1 300000 galones restantes
tanque2 20000 galones restantes